.project-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    position: relative;
  
    .project-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      position: relative;
      padding-bottom: 5px;
  
    }
  
    &:hover {
      background-color: rgba(61, 207, 182, 0.1);
      .project-title .hover-arrow {
        opacity: 1;
      }
      .project-preview {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
        visibility: visible;
      }
    }

    .project-preview {
        position: absolute;
        right: -65%;
        top: 50%;
        transform: translateY(-50%) translateX(30px);
        width: 262px;
        height: 215px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        pointer-events: none;
        border-radius: 8px;
        overflow: hidden;
        z-index: 10;
    
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
    @media (max-width: 768px) {
      padding: 20px 5%;
      border-radius: 0;
      width: 90%;
  
      .project-info {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
  
        &::after {
           width: 100%;
        }
      }
  
      .project-preview {
         display: none;
      }
    }
  }
  
  h1,
  h3 {
    margin-left: 20px;
    @media (max-width: 768px) {
        margin-left: 5%;
    }
    @media (max-width: 375px) {
        margin-left: 4%;
    }
  }