<section class="projectList">
  <h1>{{ 'PROJECTS.TITLE' | translate }}</h1>
  <h3>{{ 'PROJECTS.SUBTITLE' | translate }}</h3>

  <div class="pokedex project-item" (click)="openProjectDetails(projects[0])">
    <div class="project-info">
      <span class="project-title">{{ projects[0].name }}<span class="hover-arrow">↗</span></span>
      <p>{{ 'PROJECTS.POKEDEX_TECH' | translate }}</p>
    </div>
    <div class="project-preview">
      <img [src]="projects[0].imagePath" [alt]="projects[0].name + ' Vorschau'">
    </div>
  </div>

  <div class="EPL project-item" (click)="openProjectDetails(projects[1])">
    <div class="project-info">
     <span class="project-title">{{ projects[1].name }}<span class="hover-arrow">↗</span></span>
      <p>{{ 'PROJECTS.EPL_TECH' | translate }}</p>
    </div>
    <div class="project-preview">
      <img [src]="projects[1].imagePath" [alt]="projects[1].name + ' Vorschau'">
    </div>
  </div>

  <div class="Join project-item" (click)="openProjectDetails(projects[2])">
    <div class="project-info">
      <span class="project-title">{{ projects[2].name }}<span class="hover-arrow">↗</span></span>
      <p>{{ 'PROJECTS.JOIN_TECH' | translate }}</p>
    </div>
    <div class="project-preview">
      <img [src]="projects[2].imagePath" [alt]="projects[2].name + ' Vorschau'">
    </div>
  </div>
</section>



