<div class="skill-section" id="skillSection">
    <div class="skill-info">
        <h3>{{ 'SKILLS.TITLE' | translate }}</h3>
        <p>{{ 'SKILLS.TEXT_P1' | translate }}</p>
        <p>{{ 'SKILLS.TEXT_P2' | translate }}</p>
        <p>{{ 'SKILLS.TEXT_P3' | translate }}</p>
    </div>
    <div class="skill-icons">
        <img [src]="assetService.getAssetUrl('tecicons/html.svg')" [alt]="'SKILLS.ICON_ALT_HTML' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/css.svg')" [alt]="'SKILLS.ICON_ALT_CSS' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/js.svg')" [alt]="'SKILLS.ICON_ALT_JS' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/md.svg')" [alt]="'SKILLS.ICON_ALT_MD' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/angular.svg')" [alt]="'SKILLS.ICON_ALT_ANGULAR' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/fb.svg')" [alt]="'SKILLS.ICON_ALT_FIREBASE' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/git.svg')" [alt]="'SKILLS.ICON_ALT_GIT' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/restapi.svg')" [alt]="'SKILLS.ICON_ALT_RESTAPI' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/scrum.svg')" [alt]="'SKILLS.ICON_ALT_SCRUM' | translate">
        <img [src]="assetService.getAssetUrl('tecicons/ts.svg')" alt="TypeScript Icon">

        <div class="skill-icon-wrapper">
            <img [src]="assetService.getAssetUrl('tecicons/mind.svg')" [alt]="'SKILLS.ICON_ALT_FIGMA' | translate">
            <div class="custom-tooltip">
                <p>{{ 'SKILLS.PYTHON_SQL_INTEREST' | translate }}</p>
            </div>
        </div>
    </div>
</div>