<div class="main-content-container">
  <app-introduce-me></app-introduce-me>
  
  <div class="section-wrapper">
    <div id="personalInfoContent" data-aos="fade-right">
      <app-personal-info></app-personal-info>
    </div>
  </div>
  
  <div class="section-wrapper">
    <div id="skillSection" data-aos="fade-left">
      <app-skills></app-skills>
    </div>
  </div>
  
  <div class="section-wrapper">
    <div id="projectList" data-aos="zoom-in-up">
      <app-projects></app-projects>
    </div>
  </div>
  
  <div class="section-wrapper">
    <div id="contactFormular" data-aos="fade-up">
      <app-contact-formular></app-contact-formular>
    </div>
  </div>
</div>