<section id="contactFormular">
<div class="contactFormular-header">
    <p>Kontaktieren Sie mich</p>
    <h1>Ich freue mich auf Ihre Nachricht</h1>
    <h3>Ich bin immer offen für neue Herausforderungen und spannende Projekte. 
        Lassen Sie uns in Kontakt treten!</h3>
</div>
<div class="contactFormular-input">
    <form action="https://formspree.io/f/xjvjlqzj" method="POST">
        <span>Wie lautet Ihr Name?</span>
        <input type="text" name="name" placeholder="Ihren Namen bitte" required>
        <span>Wie lautet Ihre E-Mail?</span>
        <input type="email" name="email" placeholder="Ihre@Mail.com" required>
        <span>Wie kann ich Ihnen weiterhelfen?</span>
        <textarea name="message" rows="5" placeholder="Teilen Sie mir mit, wie ich Ihnen weiterhelfen kann..."></textarea>
        <button type="submit">Absenden</button>
    </form>
</div>
</section>
