<section>
    <div class="personal-info-section" id="personalInfoSection">
          <img class="profile-image" [src]="assetService.getAssetUrl('img/leMe.png')" [alt]="'PERSONAL_INFO.PROFILE_IMAGE_ALT' | translate">

          <div class="personal-info">
        <h3>{{ 'PERSONAL_INFO.TITLE' | translate }}</h3>
        <p>{{ 'PERSONAL_INFO.TEXT_P1' | translate }}</p>
        <p>{{ 'PERSONAL_INFO.TEXT_P2' | translate }}</p>
        <p>{{ 'PERSONAL_INFO.TEXT_P3' | translate }}</p>
    </div>
</div>
</section>