<section class="footer" id="footer">
    <div class="footer-contact">
        <a href="#header"><img [src]="assetService.getAssetUrl('img/Logo.jpg')" [alt]="'HEADER.LOGO_ALT' | translate"
                id="logo"></a>
    </div>
    <div class="footer-copyright">
        {{ 'FOOTER.COPYRIGHT' | translate }}
    </div>
    <div class="footer-links">
        <div class="GitHub">
            <a target="_blank" href="https://github.com/HergenEngelhardt">
                Github 
            </a>
        </div>
        <div class="LinkedIn">
            <a target="_blank" href="https://www.linkedin.com/in/hergen-engelhardt-0116b71b0/">
                LinkedIn
            </a>
        </div>
    </div>
</section>